<header>
    <nav>
      <h1>Password Manager</h1>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/passwords">Password Index</a>
        </li>
        <li>
          <a href="/passwords/new">Add New Password</a>
        </li>
      </ul>
    </nav>
</header>