<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Manager</title>
</head>
<body>
    <%- include('../partials/header') %>

    <main>
        <h2>Add a Password</h2>
        <form action="/passwords" method="POST">
            <label for="password">Password</label>
            <input type="text" id="password" name="password" />
            <button type="submit">Add Password</button>
        </form>
    </main>
    
</body>
</html>